# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
download/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/

# Logs and local files
logs/
*.log

# macOS
.DS_Store

# Temporary files
tmp/
*.tmp

models/
!models/store_model_files_here.txt

adapters/